{% extends 'boards/base.html' %}
{% block body %}
    <h1>EDIT</h1>
    <form action="/boards/{{ board.pk }}/update/" method='POST'>
        {% csrf_token %}
        <label for="title">TITLE</label>
        <input type="text" name="title" id="title" value="{{ board.title }}"/><br>
        <label for="content">CONTENT</label>
        <textarea name="content" id="content">{{ board.content }}</textarea>
        <input type="submit" value="Submit"/>
    </form>
    <a href="/boards/">BACK</a>
{% endblock %}